@model IEnumerable<UMC_Email.Models.UMC_EMAIL>

@{
    ViewBag.Title = "UMC EMAIL LIST";
}
<style>
    #numberSelectMail {
        border: none;
        display: inline-block;
        margin-left: 20px;
        background-image: url('/Resources/icons8-mail-30.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
    }

    #numberCount {
        margin-left: 5px;
        display: inline-block;
    }

    #copyMail {
        margin-left: 20px;
    }

    #deleteAll {
        margin-left: 5px;
    }

    #openModalBtn {
        margin-left: 5px;
    }
    /* Định dạng cho nút "X" trong modal */
    .modal .close {
        color: blue; /* Màu chữ */
        border: none; /* Loại bỏ đường viền */
        font-size: 30px; /* Kích thước chữ */
        width: 30px; /* Chiều rộng */
        height: 30px; /* Chiều cao */
        line-height: 0px; /* Độ cao dòng */
        text-align: center; /* Căn chỉnh văn bản */
        cursor: pointer; /* Con trỏ chuột */
        position: absolute; /* Tuyệt đối */
        right: 10px; /* Khoảng cách từ phải sang */
    }

        .modal .close:hover {
            background-color: #ffd800; /* Màu nền khi di chuột qua */
        }
    .modal-dialog {
        width: auto;
        max-width: 50%;
        height: auto;
        margin: 1.75rem auto;
    }
</style>
<h2>Search</h2>

<div class="form-control" style="display: flex; align-items: center;">
    <input class="form-control" type="text" id="searchBox" placeholder="Search..." />
    <span id="numberCount">0 Email</span>
    <button title="Send email" class="btn btn-outline-info" id="numberSelectMail" onclick="openOutlook()"></button>
    <button class="btn btn-success" id="copyMail">Copy</button>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="openModalBtn">
        Details
    </button>
    <button class="btn btn-danger" id="deleteAll">Remove all</button>
</div>
<script>
    function openOutlook() {
        window.location.href = '/Email/OpenOutlook';
    }
</script>
<table class="table table-bordered" id="dataTable">
    <thead>
        <tr style="background-color:black; color:white">
            <th>No</th>
            <th>Dept</th>
            <th>Full name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="pagination">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- Các nút phân trang sẽ được thêm vào đây từ JavaScript -->
        </ul>
    </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: auto; " aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">UMC email list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- Dữ liệu từ controller sẽ được thêm vào đây -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="sendmail" data-dismiss="modal" onclick="openOutlook()">Send Mail</button>
                <button type="button" class="btn btn-secondary" id="closeModalBtn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/JSFunction/EmailScripts.js"></script>